.Notifications {
  opacity: 0;
  visibility: hidden;
  border: 1px dashed crimson;
  padding: 1rem;
  width: 40%;
  margin-left: 59%;
  margin-bottom: 1rem;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.visible {
  opacity: 1;
  visibility: visible;
}
