.Notifications {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  border: 1px dashed crimson;
  padding: 1rem;
  width: 40%;
  margin-left: 59%;
  margin-bottom: 1rem;
}

.visible {
  opacity: 1;
  visibility: visible;
}
